@import url('https://use.typekit.net/lux1ioz.css');

:root,
html,
body {
  margin: 0;
  padding: 0;
  font-size: clamp(16px, 2.08vw, 40px);
  font-family: active, sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* define overwritable css variables */
  --burger-menu-animation-duration: 0.2s;
  --burger-menu-font-size: 1rem;
  --container-padding: 3.25rem;
}

body {
  background-color: #000;
}

page-template > [slot='overlay'] > parallax-container {
  position: absolute;
}

page-template > [slot='overlay'] > parallax-container > div {
  background-color: black;
}

p[slot='content'] {
  margin: 0;
  text-align: justify;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 2.5em;
  margin: 0;
  font-weight: 400;
}

detailed-text a {
  color: #fff;
}
