body {
    text-align: center;
}

bold-button {
    margin: 5px;
}

bold-button.bar {
    min-width: 150px;
}

body {
    position: relative;
}

#parallax {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: absolute;
    top: 110vh;
    transition: translate .016s linear;
    z-index: 0;
}