body {
  text-align: center;
}

bold-button {
  margin: 5px;
}

bold-button.bar {
  min-width: 150px;
}

:root {
  font-family: active, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#parallax {
  /*width: 250px;
  height: 500px;*/
  background-color: #000;
  z-index: 0;
}

.parallax-container {
  transform: translate(-100px, -100px);
  z-index: 30;
}
