@import './product.css';

#sea-food {
  --parallax-min-width: 96px;
}

#rorschach {
  --parallax-min-width: 90px;
}

#pain {
  --parallax-width: 30%;
  --parallax-height: 60%;
}

#nothing-to-wear {
  --parallax-min-width: 104px;
  --parallax-width: 80%;
  --parallax-height: 50%;
}

#human {
  --parallax-width: 50%;
  --parallax-height: 60%;
  --parallax-min-width: 96px;
}

.parallax-bar > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  border: solid 0.2em #000;
  transition: all 0.2s linear;
}

.parallax-bar > a:hover {
  background-color: #fff;
  color: #000;
}

.right .parallax-bar > a {
  align-items: flex-end;
  text-align: right;
}

.parallax-bar > a > span {
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2.5em;
  line-height: 0.8em;
}

.theme {
  display: none;
}

.mobile {
  flex-direction: column;
}

.mobile .theme {
  display: block;
  box-sizing: border-box;
  width: calc(100% + 2 * var(--container-padding));
  margin-left: calc(-1 * var(--container-padding));
  padding: 1rem 0;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  border: solid 0.2rem #000;
  transition: all 0.2s linear;
  text-transform: uppercase;
}

.mobile .theme:hover {
  color: #000;
  background-color: #fff;
}
