@import './product.css';

#hero {
  height: 24em;
  margin: 1rem 0 1rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#hero img {
  flex: 0 0 17.25em;
  width: 17.25em;
  height: 100%;
  object-fit: contain;
}

#video {
  flex: 1 1 auto;
  margin-left: 1rem;
  position: relative;
}

#video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

#video #layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  /* background-color: #000; */
  opacity: 0.3;
}

#video p {
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  z-index: 3;
  font-size: 3.25em;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0.05rem 0.05rem 0.2rem #000;
}

@media screen and (max-width: 700px) {
  #hero {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  #hero #logo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  #hero #placeholder {
    flex: 1;
    background-color: #000;
    margin-left: 1rem;
  }

  #hero #video {
    margin-top: 1rem;
    margin-left: 0;
  }
}

#sea-food {
  --parallax-min-width: 96px;
}

#rorschach {
  --parallax-min-width: 90px;
}

#pain {
  --parallax-width: 30%;
  --parallax-height: 60%;
}

#nothing-to-wear {
  --parallax-min-width: 104px;
  --parallax-width: 80%;
  --parallax-height: 50%;
}

#human {
  --parallax-width: 50%;
  --parallax-height: 60%;
  --parallax-min-width: 96px;
}

.parallax-bar > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  border: solid 0.2em #000;
  transition: all 0.2s linear;
}

.parallax-bar > a:hover {
  background-color: #fff;
  color: #000;
}

.right .parallax-bar > a {
  align-items: flex-end;
  text-align: right;
}

.parallax-bar > a > span {
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2.5em;
  line-height: 0.8em;
}

.theme {
  display: none;
}

.mobile {
  flex-direction: column;
}

.mobile .theme {
  display: block;
  box-sizing: border-box;
  width: calc(100% + 2 * var(--container-padding));
  margin-left: calc(-1 * var(--container-padding));
  padding: 1rem 0;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  border: solid 0.2rem #000;
  transition: all 0.2s linear;
  text-transform: uppercase;
}

.mobile .theme:hover {
  color: #000;
  background-color: #fff;
}
